* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(226, 230, 234);
}
header .logo_box {
  margin-left: 80px;
}
header .logo_box .logo_svg {
  width: 180px;
}
header .nav_box {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
header .nav_box .nav_items {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  margin: 0 15px;
}
header .nav_box .nav_items:hover {
  color: rgb(41, 128, 227);
}
header .nav_box .search_box {
  display: flex;
  align-items: center;
}
header .nav_box .search_box .search_btn {
  margin: 0 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .nav_box .search_box .reg_btn {
  background-color: rgb(10, 70, 253);
  padding: 0.63rem 1.25rem;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
header .nav_box .hamburger_menu {
  display: none;
}
header .nav_box .hamburger_menu .hamburger_line {
  height: 5px;
  width: 25px;
  background-color: #000;
  margin: 3px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  header .logo_box {
    margin-left: 20px;
  }
  header .logo_box .logo_svg {
    width: 180px;
  }
  header .nav_box {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  header .nav_box .nav_items {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    margin: 0 15px;
  }
  header .nav_box .nav_items:hover {
    color: rgb(41, 128, 227);
  }
  header .nav_box .search_box {
    display: flex;
    align-items: center;
  }
  header .nav_box .search_box .search_btn {
    margin: 0 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  header .nav_box .search_box .reg_btn {
    background-color: rgb(10, 70, 253);
    padding: 0.63rem 1.25rem;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
  }
  header .nav_box .hamburger_menu {
    display: none;
  }
  header .nav_box .hamburger_menu .hamburger_line {
    height: 5px;
    width: 25px;
    background-color: #000;
    margin: 3px;
    cursor: pointer;
  }
}
@media screen and (max-width: 425px) {
  header {
    width: 100vw;
  }
  header .logo_box {
    margin-left: 8px;
  }
  header .logo_box .logo_svg {
    width: 70%;
  }
  header .nav_box {
    margin-right: 8px;
  }
  header .nav_box nav {
    display: none;
  }
  header .nav_box .search_box .search_btn {
    margin: 10px;
  }
  header .nav_box .search_box .reg_btn {
    width: 120px;
  }
  header .nav_box .hamburger_menu {
    display: block;
    margin-left: 10px;
  }
  main {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  header .nav_box .search_box {
    display: none;
  }
}
main {
  display: flex;
}
main .writeup1 {
  width: 550px;
  height: 600px;
  margin-left: 75px;
  margin-top: 55px;
}
main .writeup1 .write1 {
  font-size: 60px;
}
main .writeup1 .write1 .f-p {
  color: rgb(60, 60, 190);
}
main .writeup1 .text2 {
  font-size: x-large;
}
main .writeup1 .btn1 {
  height: 40px;
  width: 160px;
  background-color: rgb(10, 70, 253);
  border: none;
  border-radius: 5px;
  font-size: large;
  color: white;
}
main .writeup1 .btn2 {
  height: 40px;
  width: 160px;
  background-color: transparent;
  border: 1px solid rgb(10, 70, 253);
  border-radius: 5px;
  font-size: large;
  color: rgb(10, 70, 253);
}
main .writeup1 .btn1:hover {
  background-color: #fff;
  color: rgb(10, 70, 253);
  border: 1px solid rgb(10, 70, 253);
}
main .writeup1 .btn2:hover {
  background-color: rgb(10, 70, 253);
  color: #fff;
}
main .img1 {
  width: 700px;
  margin-top: 40px;
}

.advertpage {
  width: 1200px;
  height: 350px;
  background-color: rgb(10, 70, 253);
  border-radius: 6px;
  margin-left: 80px;
  display: flex;
}
.advertpage .ad1 {
  font-size: 50px;
  color: #fff;
  margin-left: 35px;
  padding-top: 30px;
}
.advertpage .ad2 {
  margin-left: 35px;
  padding-top: 20px;
  color: #fff;
  font-size: x-large;
}
.advertpage .ad_btn {
  border: none;
  border-radius: 6px;
  color: rgb(10, 70, 253);
  width: 180px;
  height: 45px;
  margin-left: 35px;
  margin-top: 25px;
  background-color: #fff;
  font-size: larger;
}
.advertpage .ad_btn:hover {
  background-color: rgb(31, 30, 30);
  color: #fff;
}
.advertpage .delivery {
  width: 520px;
  height: 350px;
  margin-left: 400px;
  padding-top: 20px;
}

.section2 {
  background-color: rgb(233, 233, 233);
}
.section2 .overall {
  display: flex;
  padding-top: 80px;
}
.section2 .overall .writeup1 {
  width: 450px;
  height: 100px;
  margin-left: 80px;
}
.section2 .overall .writeup1 .t1 {
  font-size: x-large;
}
.section2 .overall .writeup1 .t2 {
  font-size: large;
  color: rgb(82, 80, 80);
}
.section2 .overall .writeup2 {
  height: 100px;
  width: 350px;
  margin: 0 40px;
}
.section2 .overall .ptag2 {
  font-size: x-large;
}
.section2 .overall .input2 {
  margin-top: 17px;
  width: 270px;
  height: 40px;
  font-weight: 500px;
  border-radius: 2px solid;
  font-size: larger;
}
.section2 .overall .writeup3 .ptag3 {
  font-size: larger;
}
.section2 .overall .writeup3 .btn4 {
  width: 150px;
  height: 40px;
  font-size: larger;
  font-weight: 400;
  margin-top: 20px;
}
.section2 .overall .writeup4 {
  margin-left: 20px;
}
.section2 .overall .writeup4 .ptag4 {
  font-size: larger;
}
.section2 .overall .writeup4 .btn5 {
  width: 150px;
  height: 40px;
  font-size: larger;
  font-weight: 400;
  margin-top: 20px;
}

.imagesection {
  background-color: rgb(226, 230, 234);
  height: 2180px;
}
.imagesection .imagediv {
  margin-left: 55px;
  justify-content: space-around;
}
.imagesection .imagediv .imagerow {
  width: 385px;
  height: 300px;
  background-color: #fff;
  margin: 0 12px;
  margin-top: 15px;
}
.imagesection .imagediv .imagerow:hover {
  cursor: pointer;
}
.imagesection .imagediv2 {
  margin-top: 80px;
  margin-left: 600px;
}
.imagesection .imagediv2 .imagebutton {
  height: 40px;
  width: 160px;
  background-color: rgb(10, 70, 253);
  border: none;
  border-radius: 5px;
  font-size: large;
  color: white;
}

.lastpage {
  height: 800px;
}
.lastpage .buttext {
  background-color: rgb(246, 250, 255);
  width: 1220px;
  height: 550px;
  border-radius: 60px;
  margin-left: 60px;
  margin-top: 100px;
  text-align: center;
  display: flex;
}
.lastpage .buttext .write3 {
  width: 700px;
  margin-left: px;
}
.lastpage .buttext .write3 .ptag6 {
  font-size: 70px;
  color: rgb(34, 33, 33);
  margin-top: 100px;
}
.lastpage .buttext .write3 .ptag7 {
  font-size: x-large;
  color: rgb(34, 33, 33);
  margin-top: 20px;
}
.lastpage .buttext .write3 .enquire {
  border: none;
  width: 180px;
  height: 45px;
  margin-top: 40px;
  border-radius: 4px;
  background-color: rgb(34, 33, 33);
  color: #fff;
  font-size: larger;
}
.lastpage .buttext .write3 .enquire:hover {
  color: #000;
  background-color: white;
  border: 1px solid rgb(34, 33, 33);
}
.lastpage .buttext .but1 {
  margin-left: px;
  margin-top: 40px;
  width: 250px;
  height: px;
}
.lastpage .buttext .but2 {
  width: 350px;
  margin-top: 280px;
  position: -webkit-sticky;
  position: sticky;
  padding-bottom: 30px;
}

footer {
  height: 150px;
  background-color: rgb(29, 29, 54);
}
footer .general {
  height: 90px;
  width: 1260px;
  margin-left: 50px;
}
footer .general .ftr1 {
  height: 70px;
  margin-left: 55px;
  align-items: center;
  width: 1250px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
footer .general .ftr1 .ft1 {
  align-items: center;
  display: flex;
  width: 500px;
  justify-content: space-around;
  font-size: large;
}
footer .general .ftr1 .a1 {
  text-decoration: none;
  color: #fff;
}
footer .general .ftr1 .ft2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  margin-left: 200px;
  margin-right: 100px;
}
footer .ft3 {
  border: 1px;
  margin-left: 370px;
  color: #fff;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */